


.pokemons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    width: 70%;
    background-color: #eee;
    margin-right: 10px;
    border-top-left-radius: 20px 50 px;
    border-bottom-right-radius: 50px 100px;
}



.loading{
    width: 50px;
    height: 50px;
    margin-left: 300px;
    margin-top: 50px;
}

.menu{
    display: flex;
    flex-wrap: row;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 15px;
    width: 250px;
    position: fixed;
    height: 60%;
   /*  background-image: url("../pics/ash.jpg");
    background-size: 250px; */
}

.filtros{
    margin: 15px;
    padding: 4px;
}

.filtros:hover{
    background-color: yellow;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    margin-bottom: 400px;
    position: absolute;
    z-index: 2;
}

.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 170px;
    margin-left: 190px;
}

.imgHome{
    width: 100px;
    height: 70px;
    position:relative;
}

.relleno{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alakazan{
    margin-top: 200px;
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 1;
}

.golem{
    margin-right: 50px;
    width: 200px;
    height: 115px;
    z-index: 1;
}

